// Mixins



@function get-rem($target) {
   @return ($target/16) * 1rem;
}

@function get-lh($line-height, $font-size) {
   @return ($line-height/$font-size);
}

@mixin box-shadow($color) {
   box-shadow: 0 4px 0 $color;
}

@function get-rotate($percent) {
   @return ($percent/100 * 180) * 1deg;
}


$container : 1140px;

//

* {
   box-sizing: border-box;
}

html {
   overflow-x: hidden;
}

body {
   font-size: get-rem(18);
   color: #ffffff;
   font-family: 'Titillium Web', sans-serif;
}

button {
   background-color: inherit;
   border: none;
   color: inherit;
}

img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

textarea {
   border: none;
   color: inherit;
}

input {
   border: none;
   background-color: initial;
   color: inherit;
}

svg path {
   fill: inherit;
   stroke: inherit;
   stroke-width: inherit;
}

.container {
   max-width: $container;
   margin: 0 auto;
   padding: 0 get-rem(20);
}

.first-screen {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   padding: 4.6% 0;

}

.introduction {
   background-color: #87509c;
}

.header {
   margin-bottom: auto;

   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5%;
      margin-bottom: 12.73%;
      text-transform: uppercase;
   }
}

.nav {
   max-width: 450px;
   width: 100%;
}

.menu {
   display: flex;
   justify-content: space-between;
   width: 100%;

   &__link {
      padding: 10px 15px;
      background-color: inherit;
      border-radius: 4px;

      &:hover {
         background-color: rgb(100, 58, 121);
         transition: 0.3s ease-in-out;
      }
   }
}

.greetings {
   text-align: center;
   margin-bottom: auto;

   &__title {
      margin-bottom: 5.5%;
      font-size: get-rem(42);
      font-weight: bold;

      &--span {
         display: inline-block;
         text-align: initial;
      }
   }

   &__btn {
      background-color: #eb7d4b;
      @include box-shadow(#c86a40);
   }
}

.btn {
   max-width: 293px;
   width: 100%;
   height: auto;
   padding: get-rem(29);
   font-size: get-rem(18);
   font-weight: 600;
   border-radius: 4px;
   text-transform: uppercase;
   transition: transform 0.2s ease-in-out;

   &:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
   }

   &:active {
      transition: 0s;
      transform: scale(1);
   }
}

.burger {
   display: none;
}

.section {

   &__wrapper {
      padding: 11% 0;
      text-align: center;
   }

   &__title {
      font-size: get-rem(40);
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 20px;
      letter-spacing: 4px;

      &:after {
         content: '';
         width: 2.175em;
         height: 4px;
         margin: 0 auto;
         display: block;
         margin-top: 0.5em;
      }
   }

   &__text {
      font-size: get-rem(18);
      line-height: 1.44;
      max-width: 620px;
      margin: 0 auto;
      margin-bottom: 7.3%;
   }
}

.super-list {
   display: flex;
   justify-content: space-between;

   &__title {
      font-size: get-rem(24);
      font-weight: bold;
      text-transform: uppercase;
   }

   &__text {
      font-size: get-rem(16);
      font-weight: 300;
      line-height: 1.5;
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 260px;
      padding: 0 30px;

   }

   &__container {
      width: 100%;
   }

}

.item-services {
   justify-content: flex-start;

   &__container {
      margin-bottom: 50px;
      max-height: 134px;
      height: 100%;
   }

   &__title {
      margin-bottom: 5px;
      min-height: 48px;
   }
}




.services {
   background-color: #17c2a4;

   &__title {

      &:after {
         background-color: #00000025;
      }
   }
}

.team {
   background-color: #e7f1f8;
   color: #3c4761;

   &__title {

      &:after {
         background-color: #bdd1dfbf;
      }
   }
}

.item-team {

   &__container {
      margin-bottom: 40px;
   }

   &__title {
      margin-bottom: 15px;
      min-height: 48px;
   }

   &__text {
      margin-bottom: 30px;
   }

   &__subtitle {
      min-height: 36px;
   }
}

.social-list {
   display: flex;
   justify-content: space-evenly;

   &__item {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #bdd1df;
      transition: background 0.3s ease-in-out;

      &:hover {
         background-color: #30bae7;
      }
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
   }
}

.svg {
   fill: #fff;

   &__twitter {
      width: 17px;
      height: 14px;
   }

   &__facebook {
      width: 8px;
      height: 16px;
   }

   &__linkedin {
      width: 16px;
      height: 16px;
   }

   &__message {
      width: 16px;
      height: 12px;
   }

   &__google-plus {
      width: 20px;
      height: 18px;
   }

   &__behance {
      width: 20px;
      height: 18px;
   }

   &__dribbble {
      width: 20px;
      height: 18px;
   }

   &__github {
      width: 20px;
      height: 18px;
   }
}

.skills {
   background-color: #fff;
   color: #3c4761;

   &__title {

      &:after {
         background-color: rgb(223, 232, 237)
      }
   }
}

.circle-wrap {
   margin: 30px auto;
   width: 150px;
   height: 150px;
   background: #e6e2e7;
   border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
   width: 150px;
   height: 150px;
   position: absolute;
   border-radius: 50%;
}

.circle-wrap .circle .mask {
   clip: rect(0px, 150px, 150px, 75px);
}

.skillsAnimation .item-skills--first .circle-wrap .circle .mask .fill {
   clip: rect(0px, 76px, 150px, 0px);
   background-color: #30bae7;
}

.skillsAnimation .item-skills--second .circle-wrap .circle .mask .fill {
   clip: rect(0px, 76px, 150px, 0px);
   background-color: #d74680;
}

.skillsAnimation .item-skills--third .circle-wrap .circle .mask .fill {
   clip: rect(0px, 76px, 150px, 0px);
   background-color: #15c7a8
}

.skillsAnimation .item-skills--fourth .circle-wrap .circle .mask .fill {
   clip: rect(0px, 76px, 150px, 0px);
   background-color: #eb7d4b;
}

.skillsAnimation .item-skills--first .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--first .circle-wrap .circle .fill {
   animation: fill--first ease-in-out 3s;
   transform: rotate(get-rotate(90));
}

.skillsAnimation .item-skills--second .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--second .circle-wrap .circle .fill {
   animation: fill--second ease-in-out 3s;
   transform: rotate(get-rotate(75));
}

.skillsAnimation .item-skills--third .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--third .circle-wrap .circle .fill {
   animation: fill--third ease-in-out 3s;
   transform: rotate(get-rotate(70));
}

.skillsAnimation .item-skills--fourth .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--fourth .circle-wrap .circle .fill {
   animation: fill--fourth ease-in-out 3s;
   transform: rotate(get-rotate(85));
}

@keyframes fill--first {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(get-rotate(90));
   }
}

@keyframes fill--second {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(get-rotate(75));
   }
}

@keyframes fill--third {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(get-rotate(70));
   }
}

@keyframes fill--fourth {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(get-rotate(85));
   }
}

.circle-wrap .inside-circle {
   width: 130px;
   height: 130px;
   border-radius: 50%;
   background: #fff;
   line-height: 130px;
   text-align: center;
   margin-top: 10px;
   margin-left: 10px;
   position: absolute;
   z-index: 5;
   font-weight: 700;
   font-size: 2em;
}

.portfolio {
   color: #393939;
   background-color: #ffdd99;

   &__title {

      &:after {
         background-color: #e5c37f;
      }
   }

   &__btn {
      background-color: #17c2a4;
      color: #fff;
      @include box-shadow(#14a58c)
   }

}

.tabs-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 7.7%;


   &__item {
      background-color: #ebc985;
      margin-right: 10px;
      font-size: 1rem;
      margin-bottom: 10px;
      border-radius: 4px;
      overflow: hidden;
      transition: background 0.2s ease-in-out;

      &:hover {
         background-color: #efd7a7;
      }

      &:last-child {
         margin-right: 0;
      }
   }

   &__button {
      padding: 12px 25px;
      text-transform: uppercase;

      &--active {
         background-color: #fff;
      }
   }
}

.laptops-list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

   &__item {
      max-width: 540px;
      margin-bottom: 5.5%;
   }

   &__name {
      text-transform: uppercase;
      font-size: 18px;
   }


   &__wrapper {
      position: relative;
      margin-bottom: 30px;

      &--first {

         &:after {
            background-image: url(../img/picture1.png);
         }
      }

      &--second {

         &:after {
            background-image: url(../img/picture2.png);
         }
      }

      &--third {

         &:after {
            background-image: url(../img/picture3.png);
         }
      }

      &--fourth {

         &:after {
            background-image: url(../img/picture4.png);
         }
      }

      &:after {
         content: '';
         position: absolute;
         display: inline-block;
         width: 77%;
         height: 83%;
         left: 11.6%;
         top: 5.4%;
         background-size: contain;
         background-repeat: no-repeat;
      }
   }
}

.reviews {
   background-color: #d74680;

   &__title {

      &:after {
         background-color: #00000026;
      }
   }

   &__list {
      flex-wrap: wrap;
   }

   &-text {
      &__text {
         font-size: get-rem(21);
         margin-bottom: get-rem(25);
         line-height: 1.47;
      }

      &__text--italic {
         font-style: italic;
      }

      &__name {
         font-size: get-rem(24);
         font-weight: bold;
      }

      &__position {
         color: #ffdd99;
      }
   }
}

.item-reviews {
   padding: 0;
   max-width: 100%;
   width: 48%;
   margin-right: 1%;
   margin-bottom: 145px;

   &:nth-child(3),
   &:nth-child(4) {
      margin-bottom: 0;
   }

   &__wrapper {
      display: flex;
   }

   &__image {
      max-width: 96px;
      max-height: 96px;
      width: 100%;
      height: 100%;
   }

   &__text {
      text-align: left;
      display: flex;
      flex-direction: column;
      margin-left: 45px;
      max-width: 350px;
   }
}

.contact {
   background-color: #3c5499;

   &__address {
      max-width: 100%;
   }

   &__name {
      position: relative;

   }

   &__label {
      position: relative;
   }

   &__form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 860px;
      margin: 0 auto;
   }

   &__btn {
      margin: 0 auto;
      background-color: #30bae7;
      @include box-shadow(#299ec5);
   }
}

.label {
   position: relative;
   display: flex;
   align-items: center;
   text-align: left;
   padding: 18px 0;
   padding-left: 10px;
   max-width: 415px;
   width: 100%;
   background: #273a71;
   border-radius: 4px;

   &__star {
      color: #ff4444;
      margin-left: 2px;
   }

   &__input {
      position: absolute;
      color: #fff;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding-left: 10px;

      &:after {
         content: '*';
         color: black;
      }

      &:focus {
         background: #273a71;
         border-radius: 4px;
      }
   }

   &--first,
   &--second {
      margin-bottom: 30px;
   }

   &--third {
      align-items: flex-start;
      height: 100%;
      max-width: 100%
   }
}

.area {
   position: relative;
   max-height: 200px;
   width: 100%;
   height: 200px;
   margin-bottom: 5%;

   &__star {

      &:after {
         content: '*';
         position: absolute;
         left: 6.5em;
         top: 1.01em;
         display: inline-block;
         color: #ff4444;
      }
   }

   &__input {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #273a71;
      padding: 1em 0;
      padding-left: 0.55em;

      &::placeholder {
         color: inherit;
      }

   }

   &:before {
      content: '';
      background-image: url(../img/Arrow.png);
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      bottom: 0px;
      z-index: 1;
      right: 0;

   }
}

.footer {
   background-color: #344b8e;
   padding: get-rem(47) 0;

   &__socials {
      max-width: 950px;
      margin: 0 auto;
   }
}

.socials {
   width: 100%;
   display: flex;
   justify-content: space-between;

   &__link {
      font-weight: 600;
      font-size: get-rem(24);
   }

   &__item {
      margin-bottom: 5px;
      transition: color 0.2s ease-in-out;

      &:hover {
         color: #30bae7;
      }
   }

   &__svg {
      width: 20px;
      height: 18px;
      display: none;
   }
}

@media screen and (max-width: 905px) {
   html {
      font-size: 12px;
   }

   .nav {
      display: block;
      width: 100vw;
      height: 100vh;
      position: fixed;
      bottom: 0;
      left: 0;
      background: #000000e6;
      transform: translateX(100%);
      max-width: 100vw;
      z-index: 10;
      transition: transform 0.3s ease-in-out;

      &__list {
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         width: 100%;
         height: 100%;

      }
   }

   .nav--active {
      display: block;
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
   }

   .greetings__title--span {
      display: inline;
   }

   .burger {
      display: flex;
      z-index: 15;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &__line {
         display: inline-block;
         width: 25px;
         height: 3px;
         margin: 10px 0;
         background-color: rgb(226, 226, 226);

         &:before {
            content: '';
            position: absolute;
            top: 0;
            display: inline-block;
            width: 25px;
            height: 3px;
            background-color: rgb(226, 226, 226);
         }

         &:after {
            content: '';
            position: absolute;
            bottom: 0;
            display: inline-block;
            width: 25px;
            height: 3px;
            background-color: rgb(226, 226, 226);
            transition: transform 0.3s ease-in-out;
         }
      }

      &--active {
         transform: rotate(45deg);
         position: fixed;
         right: 20px;

         .burger__line {
            margin: 0;
            transition: transform 0.3s ease-in-out;

            &:before {
               content: none;
            }

            &:after {
               transition: transform 0.3s ease-in-out;
               transform: rotate(90deg);
            }
         }
      }
   }

   .super-list {
      flex-wrap: wrap;
      justify-content: space-evenly;

      &__item {
         width: 50%;
      }

   }

   .item-services {
      margin-bottom: 30px;

      &__title {
         margin-bottom: 15px;
         min-height: 0;
      }

      &__container {
         max-width: 200px;
         margin: 0 auto;
         margin-bottom: 35px;
      }
   }

   .item-team {
      margin-bottom: 25px;

      &__title {
         margin-bottom: 10px;
         min-height: 0;
      }

      &__subtitle {
         margin-bottom: 10px;
         min-height: 0;
      }

      &__text {
         margin-bottom: 25px;
      }
   }

   .item-reviews {
      width: 48%;
      margin-bottom: 100px;

      &:nth-child(3) {
         margin-bottom: 0px;
      }
   }

   .contact__label {
      max-width: 100%;
      width: 100%;
   }
}


@media screen and (max-width: 550px) {

   .item-services {
      margin-bottom: 30px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   html {
      font-size: 12px;
   }

   .btn {
      width: 100%;

      &:hover {
         transform: none;
      }

      &:active {
         transform: scale(0.9)
      }
   }

   .greetings__title {
      font-size: 25px;
      margin-bottom: 10.5%;
   }

   .greetings__btn {
      font-size: 16px;
   }

   .item-reviews {
      margin-bottom: 50px;

      &:nth-child(3) {
         margin-bottom: 50px;
      }
   }


   .item-team {

      &__container {
         margin-bottom: 30px;
      }
   }

   .super-list {

      &__item {
         width: 100%;
      }
   }

   .contact__btn {
      max-width: 100%;
   }

   .socials {

      &__item {
         display: flex;
         align-items: center;
         background: #bdd1df;
         border-radius: 50%;
         transition: background 0.3s ease-in-out;

         &:hover {
            background: #30bae7;
         }
      }

      &__link {
         padding: 10px;
         font-size: 0;
      }

      &__svg {
         display: inline-block;
      }
   }

   .footer {

      .container {
         padding: 0 10px;
      }
   }
}