* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 1.125rem;
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

textarea {
  border: none;
  color: inherit;
}

input {
  border: none;
  background-color: initial;
  color: inherit;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 4.6% 0;
}

.introduction {
  background-color: #87509c;
}

.header {
  margin-bottom: auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  margin-bottom: 12.73%;
  text-transform: uppercase;
}

.nav {
  max-width: 450px;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu__link {
  padding: 10px 15px;
  background-color: inherit;
  border-radius: 4px;
}

.menu__link:hover {
  background-color: #643a79;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.greetings {
  text-align: center;
  margin-bottom: auto;
}

.greetings__title {
  margin-bottom: 5.5%;
  font-size: 2.625rem;
  font-weight: bold;
}

.greetings__title--span {
  display: inline-block;
  text-align: initial;
}

.greetings__btn {
  background-color: #eb7d4b;
  -webkit-box-shadow: 0 4px 0 #c86a40;
          box-shadow: 0 4px 0 #c86a40;
}

.btn {
  max-width: 293px;
  width: 100%;
  height: auto;
  padding: 1.8125rem;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.btn:active {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.burger {
  display: none;
}

.section__wrapper {
  padding: 11% 0;
  text-align: center;
}

.section__title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

.section__title:after {
  content: '';
  width: 2.175em;
  height: 4px;
  margin: 0 auto;
  display: block;
  margin-top: 0.5em;
}

.section__text {
  font-size: 1.125rem;
  line-height: 1.44;
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 7.3%;
}

.super-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.super-list__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.super-list__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.super-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 260px;
  padding: 0 30px;
}

.super-list__container {
  width: 100%;
}

.item-services {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item-services__container {
  margin-bottom: 50px;
  max-height: 134px;
  height: 100%;
}

.item-services__title {
  margin-bottom: 5px;
  min-height: 48px;
}

.services {
  background-color: #17c2a4;
}

.services__title:after {
  background-color: #00000025;
}

.team {
  background-color: #e7f1f8;
  color: #3c4761;
}

.team__title:after {
  background-color: #bdd1dfbf;
}

.item-team__container {
  margin-bottom: 40px;
}

.item-team__title {
  margin-bottom: 15px;
  min-height: 48px;
}

.item-team__text {
  margin-bottom: 30px;
}

.item-team__subtitle {
  min-height: 36px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social-list__item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #bdd1df;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.social-list__item:hover {
  background-color: #30bae7;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.svg {
  fill: #fff;
}

.svg__twitter {
  width: 17px;
  height: 14px;
}

.svg__facebook {
  width: 8px;
  height: 16px;
}

.svg__linkedin {
  width: 16px;
  height: 16px;
}

.svg__message {
  width: 16px;
  height: 12px;
}

.svg__google-plus {
  width: 20px;
  height: 18px;
}

.svg__behance {
  width: 20px;
  height: 18px;
}

.svg__dribbble {
  width: 20px;
  height: 18px;
}

.svg__github {
  width: 20px;
  height: 18px;
}

.skills {
  background-color: #fff;
  color: #3c4761;
}

.skills__title:after {
  background-color: #dfe8ed;
}

.circle-wrap {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.skillsAnimation .item-skills--first .circle-wrap .circle .mask .fill {
  clip: rect(0px, 76px, 150px, 0px);
  background-color: #30bae7;
}

.skillsAnimation .item-skills--second .circle-wrap .circle .mask .fill {
  clip: rect(0px, 76px, 150px, 0px);
  background-color: #d74680;
}

.skillsAnimation .item-skills--third .circle-wrap .circle .mask .fill {
  clip: rect(0px, 76px, 150px, 0px);
  background-color: #15c7a8;
}

.skillsAnimation .item-skills--fourth .circle-wrap .circle .mask .fill {
  clip: rect(0px, 76px, 150px, 0px);
  background-color: #eb7d4b;
}

.skillsAnimation .item-skills--first .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--first .circle-wrap .circle .fill {
  -webkit-animation: fill--first ease-in-out 3s;
          animation: fill--first ease-in-out 3s;
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}

.skillsAnimation .item-skills--second .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--second .circle-wrap .circle .fill {
  -webkit-animation: fill--second ease-in-out 3s;
          animation: fill--second ease-in-out 3s;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.skillsAnimation .item-skills--third .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--third .circle-wrap .circle .fill {
  -webkit-animation: fill--third ease-in-out 3s;
          animation: fill--third ease-in-out 3s;
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}

.skillsAnimation .item-skills--fourth .circle-wrap .circle .mask.full,
.skillsAnimation .item-skills--fourth .circle-wrap .circle .fill {
  -webkit-animation: fill--fourth ease-in-out 3s;
          animation: fill--fourth ease-in-out 3s;
  -webkit-transform: rotate(153deg);
          transform: rotate(153deg);
}

@-webkit-keyframes fill--first {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(162deg);
            transform: rotate(162deg);
  }
}

@keyframes fill--first {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(162deg);
            transform: rotate(162deg);
  }
}

@-webkit-keyframes fill--second {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes fill--second {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes fill--third {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
  }
}

@keyframes fill--third {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
  }
}

@-webkit-keyframes fill--fourth {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(153deg);
            transform: rotate(153deg);
  }
}

@keyframes fill--fourth {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(153deg);
            transform: rotate(153deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 5;
  font-weight: 700;
  font-size: 2em;
}

.portfolio {
  color: #393939;
  background-color: #ffdd99;
}

.portfolio__title:after {
  background-color: #e5c37f;
}

.portfolio__btn {
  background-color: #17c2a4;
  color: #fff;
  -webkit-box-shadow: 0 4px 0 #14a58c;
          box-shadow: 0 4px 0 #14a58c;
}

.tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 7.7%;
}

.tabs-list__item {
  background-color: #ebc985;
  margin-right: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.tabs-list__item:hover {
  background-color: #efd7a7;
}

.tabs-list__item:last-child {
  margin-right: 0;
}

.tabs-list__button {
  padding: 12px 25px;
  text-transform: uppercase;
}

.tabs-list__button--active {
  background-color: #fff;
}

.laptops-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.laptops-list__item {
  max-width: 540px;
  margin-bottom: 5.5%;
}

.laptops-list__name {
  text-transform: uppercase;
  font-size: 18px;
}

.laptops-list__wrapper {
  position: relative;
  margin-bottom: 30px;
}

.laptops-list__wrapper--first:after {
  background-image: url(../img/picture1.png);
}

.laptops-list__wrapper--second:after {
  background-image: url(../img/picture2.png);
}

.laptops-list__wrapper--third:after {
  background-image: url(../img/picture3.png);
}

.laptops-list__wrapper--fourth:after {
  background-image: url(../img/picture4.png);
}

.laptops-list__wrapper:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 77%;
  height: 83%;
  left: 11.6%;
  top: 5.4%;
  background-size: contain;
  background-repeat: no-repeat;
}

.reviews {
  background-color: #d74680;
}

.reviews__title:after {
  background-color: #00000026;
}

.reviews__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-text__text {
  font-size: 1.3125rem;
  margin-bottom: 1.5625rem;
  line-height: 1.47;
}

.reviews-text__text--italic {
  font-style: italic;
}

.reviews-text__name {
  font-size: 1.5rem;
  font-weight: bold;
}

.reviews-text__position {
  color: #ffdd99;
}

.item-reviews {
  padding: 0;
  max-width: 100%;
  width: 48%;
  margin-right: 1%;
  margin-bottom: 145px;
}

.item-reviews:nth-child(3), .item-reviews:nth-child(4) {
  margin-bottom: 0;
}

.item-reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-reviews__image {
  max-width: 96px;
  max-height: 96px;
  width: 100%;
  height: 100%;
}

.item-reviews__text {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 45px;
  max-width: 350px;
}

.contact {
  background-color: #3c5499;
}

.contact__address {
  max-width: 100%;
}

.contact__name {
  position: relative;
}

.contact__label {
  position: relative;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 860px;
  margin: 0 auto;
}

.contact__btn {
  margin: 0 auto;
  background-color: #30bae7;
  -webkit-box-shadow: 0 4px 0 #299ec5;
          box-shadow: 0 4px 0 #299ec5;
}

.label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 18px 0;
  padding-left: 10px;
  max-width: 415px;
  width: 100%;
  background: #273a71;
  border-radius: 4px;
}

.label__star {
  color: #ff4444;
  margin-left: 2px;
}

.label__input {
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.label__input:after {
  content: '*';
  color: black;
}

.label__input:focus {
  background: #273a71;
  border-radius: 4px;
}

.label--first, .label--second {
  margin-bottom: 30px;
}

.label--third {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  max-width: 100%;
}

.area {
  position: relative;
  max-height: 200px;
  width: 100%;
  height: 200px;
  margin-bottom: 5%;
}

.area__star:after {
  content: '*';
  position: absolute;
  left: 6.5em;
  top: 1.01em;
  display: inline-block;
  color: #ff4444;
}

.area__input {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #273a71;
  padding: 1em 0;
  padding-left: 0.55em;
}

.area__input::-webkit-input-placeholder {
  color: inherit;
}

.area__input:-ms-input-placeholder {
  color: inherit;
}

.area__input::-ms-input-placeholder {
  color: inherit;
}

.area__input::placeholder {
  color: inherit;
}

.area:before {
  content: '';
  background-image: url(../img/Arrow.png);
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  bottom: 0px;
  z-index: 1;
  right: 0;
}

.footer {
  background-color: #344b8e;
  padding: 2.9375rem 0;
}

.footer__socials {
  max-width: 950px;
  margin: 0 auto;
}

.socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__link {
  font-weight: 600;
  font-size: 1.5rem;
}

.socials__item {
  margin-bottom: 5px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.socials__item:hover {
  color: #30bae7;
}

.socials__svg {
  width: 20px;
  height: 18px;
  display: none;
}

@media screen and (max-width: 905px) {
  html {
    font-size: 12px;
  }
  .nav {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000000e6;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    max-width: 100vw;
    z-index: 10;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav--active {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .greetings__title--span {
    display: inline;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 15;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger__line {
    display: inline-block;
    width: 25px;
    height: 3px;
    margin: 10px 0;
    background-color: #e2e2e2;
  }
  .burger__line:before {
    content: '';
    position: absolute;
    top: 0;
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: #e2e2e2;
  }
  .burger__line:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: #e2e2e2;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: fixed;
    right: 20px;
  }
  .burger--active .burger__line {
    margin: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active .burger__line:before {
    content: none;
  }
  .burger--active .burger__line:after {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .super-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .super-list__item {
    width: 50%;
  }
  .item-services {
    margin-bottom: 30px;
  }
  .item-services__title {
    margin-bottom: 15px;
    min-height: 0;
  }
  .item-services__container {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .item-team {
    margin-bottom: 25px;
  }
  .item-team__title {
    margin-bottom: 10px;
    min-height: 0;
  }
  .item-team__subtitle {
    margin-bottom: 10px;
    min-height: 0;
  }
  .item-team__text {
    margin-bottom: 25px;
  }
  .item-reviews {
    width: 48%;
    margin-bottom: 100px;
  }
  .item-reviews:nth-child(3) {
    margin-bottom: 0px;
  }
  .contact__label {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .item-services {
    margin-bottom: 30px;
  }
  .item-services:last-child {
    margin-bottom: 0;
  }
  html {
    font-size: 12px;
  }
  .btn {
    width: 100%;
  }
  .btn:hover {
    -webkit-transform: none;
            transform: none;
  }
  .btn:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .greetings__title {
    font-size: 25px;
    margin-bottom: 10.5%;
  }
  .greetings__btn {
    font-size: 16px;
  }
  .item-reviews {
    margin-bottom: 50px;
  }
  .item-reviews:nth-child(3) {
    margin-bottom: 50px;
  }
  .item-team__container {
    margin-bottom: 30px;
  }
  .super-list__item {
    width: 100%;
  }
  .contact__btn {
    max-width: 100%;
  }
  .socials__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #bdd1df;
    border-radius: 50%;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  .socials__item:hover {
    background: #30bae7;
  }
  .socials__link {
    padding: 10px;
    font-size: 0;
  }
  .socials__svg {
    display: inline-block;
  }
  .footer .container {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */